#wrapper {
    max-width: 1920px;
}

#header {
    background-image: url(image/footer1.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 1600px;
    height: 1070px;
}

.headerFonts {}

.ellipse {
    background-image: url(image/Ellipse.PNG);
    background-repeat: no-repeat;
    width: 69px;
    height: 70px;
    position: absolute;
    top: 290px;
    left: 870px;
}

.shape {
    background-image: url(image/Shape.png);
    width: 29px;
    height: 40px;
    background-repeat: no-repeat;
    position: absolute;
    top: 920px;
    left: 900px;
}

.headerFonts>h1 {
    font: bold 44px 'Lato', sans-serif;
    color: #ffffff;
    /* padding-top: 100px; */
    text-align: center;
    width: 520px;
    height: 150px;
    position: absolute;
    top: 440px;
    left: 660px;
    letter-spacing: 9px;
    /*интервал между символами в пределах элемента*/
}

.headerFonts>p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: Regular;
    color: #ebeef2;
    text-align: center;
    position: absolute;
    top: 580px;
    left: 658px;
    text-transform: uppercase;
    /*    Управляет преобразованием текста элемента в заглавные или прописные символы*/
    line-height: 25px;
    /*    межстрочный интервал*/
}

.aboutUs {
    font: bold 34px 'Lato', sans-serif;
    letter-spacing: 5px;
    color: #3c3c3c;
    text-align: center;
    position: relative;
    bottom: 25px;
    background-color: white;
    margin: auto;
    width: 400px;
}

.contentAboutUs {
    font: 16px 'Lato', sans-serif;
    color: #3c3c3c;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
}

.about {
    border: 3px solid black;
    width: 1594px;
    margin: 160px auto;
    padding-bottom: 50px;
}

.service {
    background-image: url(image/services.png);
    background-repeat: no-repeat;
    margin: auto;
    width: 1600px;
    height: 488px;
    border: 3px solid white;
}

.servicesTitle {
    font: bold 34px 'Lato';
    color: #ffffff;
    letter-spacing: 5px;
    text-align: center;
}

.contentServices {
    font: 16px 'Lato';
    color: #ffffff;
    text-align: center;
}
